<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="net_gui_mysql_demo.Properties.Settings.gui_testConnectionString"
            connectionString="server=localhost;User Id=root;Persist Security Info=True;database=gui_test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>